 # 1. Introduction and Defining Business Problem:



## Problem Statement: Prospects for opening a food Restaurant or a new office in Berlin.

Berlin, It is a place where I am staying right now. In terms of population and area, Berlin is a largerst city and capital for Germany. Berlin is a second famous startup hub in Europe.

During the daytime, specially in the lunch hours, office areas provide huge opportunities for restaurants.  An avarage meal priced (one lunch meal 5€). The shops are usually always full during the lunch hours (11 am — 2-30 pm. Given this scenario, I will be showing the benefits and pitfalls of opening a restaurant in highly densed office places including office delivery. However, I am unware of the profit, I do believe there will be huge benifit by opening a restaurent in the dence area of companies. I will be covering top 10 places in Berlin.

Aditionally, understaing the type of companies that are located in Berlin will give a valuable information for opening a new office. Namely,finding an area relatively less costly area for opening an office and public transportation analysis to reach this company.


As a part of report, I will walk you thorogh each step of this project and address them separately. Let me, show you an outline the initial data preparation and describe future steps to start the battle of neighborhoods in Berlin area.

### Target Audience

#### What type of clients or a group of people would be interested in this project?

    1.For data scientists, who wnats to do exploratory data analysis techniques to obtain necessary data, analyze it, and, finally be able to tell a story out of it.
    2.Business personnel who wants to invest or open a restaurant. This analysis will be a comprehensive guide to start or expand restaurants targeting the large pool of office places during lunch hours.
    3. Furthermore, the analysis of company locations in Berlin will hugly benifit the business personnel for opening their new office.

# 1. Preprocessing data for Berlin companies list

In [1]:
import wikipedia
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import unicodedata
import requests
import json

### Extract Berlin neighborhoods and boroughs from wiki using BeautifulSoup

#### If like to scrape the data, run the following blocke of code.

```python
wiki_page = "https://de.wikipedia.org/wiki/Verwaltungsgliederung_Berlins"

html_ = requests.get(wiki_page)
soup = BeautifulSoup(html_.content, "html.parser")
table = soup.find_all("table")
data_table = table[2]

data_nei_ = []
columns = ["Nr","Ortteil","Bezirk","Flaeche","Einwohner_30_07_2019","Einwohner_km2"] 

for tr in data_table.find_all("tr")[1:]:
    data = []
    for td in tr.find_all("td"):
        data.append(td.get_text().strip())
    data_nei_.append(data)
data_nei_
df_nei = pd.DataFrame(data_nei_, columns=columns)
df_nei
```

### Step1: Load dataset having district and its neighborhoods

In [83]:
berlin_neighborhoods = pd.read_csv("berlin_places.csv")
berlin_neighborhoods = berlin_neighborhoods[["Ortsteil","Bezirk"]]
berlin_neighborhoods.head()

        Ortsteil  Bezirk
0         Mitte   Mitte
1        Moabit   Mitte
2  Hansaviertel   Mitte
3    Tiergarten   Mitte
4       Wedding   Mitte

### Step2: Load the daset having neighborhood and its postal codes

In [95]:
berlin_postacodes = pd.read_excel("Bundesland Berlin.xlsx")
berlin_postacodes[berlin_postacodes.Ortsteil=="Wedding"]

       PLZ Ortsteil
241  13347  Wedding
243  13349  Wedding
244  13351  Wedding
246  13353  Wedding
249  13357  Wedding
251  13359  Wedding
256  13405  Wedding
259  13407  Wedding
262  13409  Wedding

### Step3: Load the dataset having company and its address, category of comapny, gps coordinates.

###### Scraping of such data is still in progress and will be updated soon...........